.box{
  
}
.nice{
   height: 200px;
    background-color: antiquewhite;
    width: 200px;
}
.image{
     height: 200px;
     width: 200px;
}
.newImage{
    height: 300px;
    width: 300px;
    
}